

<div class="container">
    <div class="card shadow mb-4">
      <div class="card-body">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Id</th>
              <th>Nom Pays</th>
            </tr>
          </thead>
          <tbody *ngFor="let pays of payss">
            <tr>
              <td>{{ pays.idPays }}</td>
              <td>{{ pays.nomPays }}</td>
              
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  